<launch>

    <node pkg="vision_semantic_segmentation" type="vision_semantic_segmentation_node.py" name="vision_semantic_segmentation_node" output="screen" />

    <arg name="camera_left_id" default="camera1"/>
    <arg name="camera_right_id" default="camera6"/>

    <arg name="vision_semantic_segmentation_dir" default="$(find vision_semantic_segmentation)"/>

    <!-- Convert the /avt_cameras/$(arg camera_right_id)/image_color topic into $(arg camera_right_id)/image_raw" -->

    <!-- <node name="republisher_$(arg camera_left_id)" type="republish" pkg="image_transport" output="screen" args="compressed in:=/avt_cameras/$(arg camera_left_id)/image_color raw out:=$(arg camera_left_id)/image_raw" /> -->
    <node name="republisher_$(arg camera_right_id)" type="republish" pkg="image_transport" output="screen" args="compressed in:=/avt_cameras/$(arg camera_right_id)/image_color raw out:=$(arg camera_right_id)/image_raw" />
</launch>